.featured {
    padding-left: 20px;
}

#footerCenter {
    margin-left: 40%;
}

.tableButtons {
    width: 30px;
}

#tableContainer {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}

