@model IEnumerable<McGMVC.Models.Book>
@{
    ViewBag.Title = "index.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @{
            var counter = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>@item.title</td>
                    <td>@item.author</td>
                </tr>
                counter++;
            }
        }
    </tbody>
</table>
